In [8]:
import pandas as pd
import numpy as np
from sklearn import datasets
from pydbgen import pydbgen

In [18]:
# Build the list of features we desire to include in our rough hiring platform data
# Put yourself in pymetrics' shoes where a Fortune 500 comes to them and asks them to evaluate the following candidates for 
# a entry-level product management / business analyst / sales associate position.
# given their employee selection tests.

# What data parameters would enable you to make the best decision?
# Level of education, GPA, technical aptitude, soft skills, cultural fit, average commute time, address, languagues, years of work experience, number of 
# companies worked for, average stay at each company, past recommendations, Employee Referral, awards from previous work, race, gender, leadership experience, criminal history, 
# LinkedIn profile score, Instagram/Facebook/Twitter content is reasonable. 
# Communication, Problem Solving, Willing To Learn, Emotional Skills, Cognitive Ability.

traditionalFeatures = ["GPA", "Avg Commute Time", "Cultural Fit", "Technical Aptitude", "Soft Skills", "Employee Referral", "Years of Experience", "Leadership"]
dataset = pd.DataFrame(columns = traditionalFeatures)

Empty DataFrame
Columns: [GPA, Avg Commute Time, Cultural Fit, Technical Aptitude, Soft Skills, Employee Referral, Years of Experience, Leadership]
Index: []

In [21]:
GPA = np.random.normal(3.2, 0.5, 100) #mean, stdev, numSamples
dataset["GPA"] = GPA

In [22]:
dataset

,GPA,Avg Commute Time,Cultural Fit,Technical Aptitude,Soft Skills,Employee Referral,Years of Experience,Leadership
0,3.034090,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.799097,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.505258,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.520511,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.925929,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
95,3.755851,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,3.001910,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,3.579499,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,3.183642,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2.990170,NaN,NaN,NaN,NaN,NaN,NaN,NaN