In [1]:
import math
import numpy as np
import pandas as pd

In [2]:
def loadPpl(race, gender):
    numPpl = 500
    Gender = {"male": .60, "female": .40}

    races = {
        "Caucasian": .55,
        "African-American": .14,
        "Asian": .15,
        "Hispanic": .10,
        "Other": .06
    }
    
    return int(math.floor(numPpl * Gender[gender] * races[race]))

In [3]:
loadPpl("Caucasian", "male")

165

# Run Cell Below to Form Up Dataset

In [4]:
def roundToHalves(old_array):
    array = old_array
    for x in range(len(array)):
        num = array[x]
        decimal = num - int(num)
        if decimal > .33 and decimal < .66:
            array[x] = int(num) + .5
        elif decimal < .33:
            array[x] = int(num)
        else:
            array[x] = int(num) + 1
    return array

In [5]:
def loadDataset():
    genders = ["male", "female"]

    races = [
        "Caucasian",
        "African-American",
        "Asian",
        "Hispanic",
        "Other"
        ]
    
    dfs = []
    for gender in genders:
        for race in races:
            dfs.append(pd.read_csv("employeeData_" + gender + "_" + race + ".csv", index_col=0))
            
    dataset = pd.concat(dfs)
    
    
    cols = dataset.columns.tolist()
    cols = cols[-7:] + cols[:-7]
    dataset = dataset[cols]
    
    # dataset years adjustments to halves
    yearsOfExp = roundToHalves(list(dataset["Years of Experience"]))
    jobTenure = roundToHalves(list(dataset["Job Tenure"]))
    militaryTenure = roundToHalves(list(dataset["Military Tenure"]))
    dataset["Years of Experience"] = yearsOfExp
    dataset["Job Tenure"] = jobTenure
    dataset["Military Tenure"] = militaryTenure
    
    # prestige normalization     
    prestigeMax = dataset["Educational Prestige"].max()
    dataset["Educational Prestige"] = np.round(dataset["Educational Prestige"].apply(lambda x: x / prestigeMax), 2)
    
    # Education Discretization into quintiles
    dataset = dataset.sort_values(["Education"], ascending=False)
    fifth = math.floor(len(dataset) / 5)
    print(fifth)
    num = 5
    labels = []
    for x in range(5):
        for y in range(fifth):
            labels.append(num)
        num -= 1
    dataset["Education"] = labels
    
    dataset = dataset.drop(['Job Tenure', 'Avg Deals Closed', "Manager's Assessment Score"], axis=1)
    dataset.info()
    
    return dataset

dataset = loadDataset()
dataset.to_csv("candidates_milestone1.csv", index=False)

100
<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 58 to 1
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Names                         500 non-null    object
 1   Race                          500 non-null    object
 2   Gender                        500 non-null    object
 3   Sports                        500 non-null    float64
 4   Birth Origin                  500 non-null    object
 5   Age                           500 non-null    float64
 6   Zip                           500 non-null    int64
 7   Education                     500 non-null    int64
 8   GPA                           500 non-null    float64
 9   Educational Prestige          500 non-null    float64
 10  Years of Experience           500 non-null    float64
 11  Soft Skills                   500 non-null    float64
 12  Manager's Assessment Score    500 non-null    float64
 13  Military Tenure               500 non-null    float64
 14  Avg Commute Time              500 non-null    float64
 15  Job Tenure                    500 non-null    float64
 16  Cultural Fit                  500 non-null    float64
 17  Leadership Capability         500 non-null    float64
 18  HireVue Score                 500 non-null    float64
 19  Technical Aptitude            500 non-null    float64
 20  Avg Deals Closed              500 non-null    float64
 21  Undergraduate Degree          500 non-null    object
 22  LinkedIn Score                500 non-null    object
 23  Responsible Social Media Use  500 non-null    object
 24  Employee Referral             500 non-null    float64
 25  Arrest Record                 500 non-null    float64
 26  Criminal Record               500 non-null    float64
dtypes: float64(18), int64(2), object(7)
memory usage: 109.4+ KB